# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
lst = [1,2,3,4,5,6,7,8,9,10]

2. Append to the list the number 20

In [2]:
lst.append(20)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [3]:
lst=[0,0] + lst
print(lst)

[0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [4]:
lst.sort(reverse=True)
lst

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [5]:
lst = lst[0:(len(lst)-2)]
lst

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [6]:
lst.reverse()
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [8]:
print("The list has {} items.".format(len(lst)))

The list has 11 items.

8. Give the minimum, maximum and the sum of all the items in the list

In [10]:
print("The minimum is {},\nThe maximum is {},\nThe sum of lst items is {}".format(min(lst),max(lst), sum(lst)))

The minimum is 1,
The maximum is 20,
The sum of lst elements is 75

9. What will happen if you multiply the list by 2?

In [11]:
print(lst*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

No, I get an exception:

### TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [13]:
tpl = ('a', 's', 'd', 1, 2, 3, 4)
tpl

('a', 's', 'd', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [14]:
tpl += (True, False)
tpl

('a', 's', 'd', 1, 2, 3, 4, True, False)

3. Retrieve the third to sixth items from the tupple

In [24]:
tpl1 = tpl[2:6]
tpl1
print("{} {} {}".format(type('a'), type(1),type(True)))
type(True)

<class 'str'> <class 'int'> <class 'bool'>

bool

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [25]:
int_lst = []
str_lst = []
bool_lst = []
unknown_lst = []
for e in tpl:
    if type(e) == int:
        int_lst.append(e)
    elif type(e) == str:
        str_lst.append(e)
    elif type(e) == bool:
        bool_lst.append(e)
    else:
       unknown_lst.append(e)
mut_tpl = int_lst, str_lst, bool_lst, unknown_lst
mut_tpl

([1, 2, 3, 4], ['a', 's', 'd'], [True, False], [])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [32]:
#regular expressions
import re

str1='''Shallow copy is a bit-wise copy of an object.A new object is created that has an exact copy of the values in the original object'''
#replace punctuation with whitespace
str2 = re.sub(r'[^\w\s]', ' ', str1)
#str2
s = set(str2.split())
s

{'A',
 'Shallow',
 'a',
 'an',
 'bit',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'that',
 'the',
 'values',
 'wise'}

2. Do you see something wierd in this set? What? How can you prevent that?

NOTHING...

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [47]:
dict_emp = {'1020':{'Name':'Harry Smith', 'Position':'Sales Manager', 'Phone':'030-223.65.44'},
            '2201':{'Name':'Margaret Holsum', 'Position':'Sales Representative', 'Phone':'030-223.64.12'},
            '3320':{'Name':'Lasly Howard', 'Position':'Human Resources','Phone':'030-223.83.33'},
            '8111':{'Name':'Larry Johnson', 'Position':'Project Manager','Phone':'030-224.22.00'},
            '2733':{'Name':'Hellen Young', 'Position':'Customer Service','Phone':'030-223.03.20'}
            }
dict_emp

{'1020': {'Name': 'Harry Smith',
  'Position': 'Sales Manager',
  'Phone': '030-223.65.44'},
 '2201': {'Name': 'Margaret Holsum',
  'Position': 'Sales Representative',
  'Phone': '030-223.64.12'},
 '3320': {'Name': 'Lasly Howard',
  'Position': 'Human Resources',
  'Phone': '030-223.83.33'},
 '8111': {'Name': 'Larry Johnson',
  'Position': 'Project Manager',
  'Phone': '030-224.22.00'},
 '2733': {'Name': 'Hellen Young',
  'Position': 'Customer Service',
  'Phone': '030-223.03.20'}}

1. Get all the keys of the dictionary

In [41]:
dict_emp.keys()

dict_keys(['1020', '2201', '3320', '8111', '2733'])

2. Get all the values of the dictionary

In [42]:
dict_emp.values()

dict_values([{'Name': 'Harry Smith', 'Position': 'Sales Manager', 'Phone': '030-223.65.44'}, {'Name': 'Margaret Holsum', 'Position': 'Sales Representative', 'Phone': '030-223.64.12'}, {'Name': 'Lasly Howard', 'Position': 'Human Resources', 'Phone': '030-223.83.33'}, {'Name': 'Larry Johnson', 'Position': 'Project Manager', 'Phone': '030-224.22.00'}, {'Name': 'Hellen Young', 'Position': 'Customer Service', 'Phone': '030-223.03.20'}])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [48]:
id = list(dict_emp.keys())[2]
print("Id: {}, {}".format(id,dict_emp[id]))

Id: 3320, {'Name': 'Lasly Howard', 'Position': 'Human Resources', 'Phone': '030-223.83.33'}

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [49]:
import sympy
for i in range(1, 101):
    if sympy.isprime(i):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [9]:
#brute force -- gets an integer number and returns true if it is prime
def isprime(num):
    if num<=3: 
        return True
    else:
        for i in range (2, num):
            if (num%i == 0):
                return False
        return True
i = 0
while i<100:
    i+=1
    if isprime(i):
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97